<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android"
  id="cordova-plugin-image-picker"
  version="1.1.1">

	<name>ImagePicker</name>

	<description>
		This plugin allows selection of multiple images from the camera roll / gallery in a phonegap app
	</description>

	<license>MIT</license>

	<engines>
		<engine name="cordova" version=">=3.0.0" />
		<engine name="cordova-android" version=">=6.0.0" />
	</engines>

	<js-module src="www/imagepicker.js" name="ImagePicker">
		<clobbers target="plugins.imagePicker" />
	</js-module>

	<!-- ios -->
	<platform name="ios">
	<preference name="PHOTO_LIBRARY_USAGE_DESCRIPTION" default=" " />
		<config-file target="*-Info.plist" parent="NSPhotoLibraryUsageDescription">
			<string>$PHOTO_LIBRARY_USAGE_DESCRIPTION</string>
		</config-file>
		<config-file target="config.xml" parent="/*">
			<feature name="ImagePicker">
				<param name="ios-package" value="SOSPicker"/>
			</feature>
		</config-file>

		<header-file src="src/ios/SOSPicker.h" />
		<source-file src="src/ios/SOSPicker.m" />

		<header-file src="src/ios/ELCImagePicker/ELCAlbumPickerController.h" />
		<source-file src="src/ios/ELCImagePicker/ELCAlbumPickerController.m" />

		<header-file src="src/ios/ELCImagePicker/ELCAsset.h" />
		<source-file src="src/ios/ELCImagePicker/ELCAsset.m" />

		<header-file src="src/ios/ELCImagePicker/ELCAssetCell.h" />
		<source-file src="src/ios/ELCImagePicker/ELCAssetCell.m" />

		<header-file src="src/ios/ELCImagePicker/ELCAssetPickerFilterDelegate.h" />
		<header-file src="src/ios/ELCImagePicker/ELCAssetSelectionDelegate.h" />

		<header-file src="src/ios/ELCImagePicker/ELCAssetTablePicker.h" />
		<source-file src="src/ios/ELCImagePicker/ELCAssetTablePicker.m" />

		<header-file src="src/ios/ELCImagePicker/ELCImagePickerController.h" />
		<source-file src="src/ios/ELCImagePicker/ELCImagePickerController.m" />

		<resource-file src="src/ios/ELCImagePicker/Resources/ELCAlbumPickerController.xib" />
		<resource-file src="src/ios/ELCImagePicker/Resources/ELCAssetPicker.xib" />
		<resource-file src="src/ios/ELCImagePicker/Resources/ELCAssetTablePicker.xib" />
		<resource-file src="src/ios/ELCImagePicker/Resources/Overlay.png" />
		<resource-file src="src/ios/ELCImagePicker/Resources/Overlay@2x.png" />
	</platform>

	<!-- android -->
	<platform name="android">

    	<config-file target="res/xml/config.xml" parent="/*">
			<feature name="ImagePicker">
				<param name="android-package" value="com.synconset.ImagePicker"/>
			</feature>
		</config-file>

		<config-file target="AndroidManifest.xml" parent="/manifest/application">
		    <activity 
				android:label="ImagePicker" 
				android:name="com.synconset.ImgPickerActivity" 
				android:theme="@android:style/Theme.DeviceDefault.NoActionBar">
            </activity>
		</config-file>
		
		<config-file target="AndroidManifest.xml" parent="/manifest">
			<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
        	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
		</config-file>


	    <framework src="com.android.support:support-v4:25.+" />
	    <framework src="com.android.support:appcompat-v7:25.+" />
	    <framework src="com.github.bumptech.glide:glide:3.7.0" />
	    <framework src="com.zhihu.android:matisse:0.5.0-alpha4" />

    	<source-file src="src/android/com/synconset/ImagePicker/ImagePicker.java" target-dir="src/com/synconset" />
		<source-file src="src/android/com/synconset/ImagePicker/ImgPickerActivity.java" target-dir="src/com/synconset" />

	</platform>
</plugin>
